<br>
<div class="basic-grey">
  
  <h1><%= "#{t('messages.listing')} #{@addresses.model.model_name.human(count: @addresses.count)}" %></h1>

  <table>
    <thead>
      <tr>
        <th><%= @addresses.model.human_attribute_name("contact") %></th>
        <th><%= @addresses.model.human_attribute_name("street") %></th>
        <th><%= @addresses.model.human_attribute_name("city") %></th>
        <th><%= @addresses.model.human_attribute_name("state") %></th>
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.contact.name %></td>
          <td><%= address.street %></td>
          <td><%= address.city%></td>
          <td><%= address.state%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @addresses %>
  <br>

  <%= link_to t('buttons.home'), root_path, class: "btn btn-primary" %>
</div>
